/* src/components/Login.css */
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .login-logo {
    margin-bottom: 20px;
  }
  
  .logo-image {
    width: 100%;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    color: #666;
    margin-bottom: 20px;
  }
  
  .login-form .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-footer {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .login-footer a {
    color: #333;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  